<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>agendaPessoal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>controller.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServelet</display-name>
    <servlet-name>LogoutServelet</servlet-name>
    <servlet-class>controller.LogoutServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServelet</servlet-name>
    <url-pattern>/LogoutServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListagemServelet</display-name>
    <servlet-name>ListagemServelet</servlet-name>
    <servlet-class>controller.ListagemServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListagemServelet</servlet-name>
    <url-pattern>/ListagemServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroServelet</display-name>
    <servlet-name>CadastroServelet</servlet-name>
    <servlet-class>controller.CadastroServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroServelet</servlet-name>
    <url-pattern>/CadastroServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EdicaoServelet</display-name>
    <servlet-name>EdicaoServelet</servlet-name>
    <servlet-class>controller.EdicaoServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdicaoServelet</servlet-name>
    <url-pattern>/EdicaoServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExclusaoServelet</display-name>
    <servlet-name>ExclusaoServelet</servlet-name>
    <servlet-class>controller.ExclusaoServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExclusaoServelet</servlet-name>
    <url-pattern>/ExclusaoServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>controller.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TarefaDAO</display-name>
    <servlet-name>TarefaDAO</servlet-name>
    <servlet-class>dao.TarefaDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TarefaDAO</servlet-name>
    <url-pattern>/TarefaDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EdicaoTarefaServlet</display-name>
    <servlet-name>EdicaoTarefaServlet</servlet-name>
    <servlet-class>controller.EdicaoTarefaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdicaoTarefaServlet</servlet-name>
    <url-pattern>/EdicaoTarefaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroUsuarioServelet</display-name>
    <servlet-name>CadastroUsuarioServelet</servlet-name>
    <servlet-class>controller.CadastroUsuarioServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroUsuarioServelet</servlet-name>
    <url-pattern>/CadastroUsuarioServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarTarefaServlet</display-name>
    <servlet-name>DeletarTarefaServlet</servlet-name>
    <servlet-class>controller.DeletarTarefaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarTarefaServlet</servlet-name>
    <url-pattern>/DeletarTarefaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObterTarefasServelet</display-name>
    <servlet-name>ObterTarefasServelet</servlet-name>
    <servlet-class>controller.ObterTarefasServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObterTarefasServelet</servlet-name>
    <url-pattern>/ObterTarefasServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>concluirTarefaServelet</display-name>
    <servlet-name>concluirTarefaServelet</servlet-name>
    <servlet-class>controller.concluirTarefaServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>concluirTarefaServelet</servlet-name>
    <url-pattern>/concluirTarefaServelet</url-pattern>
  </servlet-mapping>
</web-app>